h1, h2, h3, h4 {
    margin-left: 20px;
    margin-top: 20px;
}

.first {
    opacity: 0.5;
}

.text-center {
    text-align: center;
}

.error {
    color: red;
}

.form-answers {
    padding: 20px;
}